---
import type { Navigation  } from '@/types/directusCollection';
import Menu from './Menu.astro';

const props = Astro.props as {
  navItems: Navigation;
};
---

<header class="h-16 py-2 bg-blend-difference bg-none z-50 fixed top-0  w-full px-4 mx-auto">
  <div class=" flex items-center justify-between w-full">
 <a href="/">
    <p>Judah Sullivan</p>
  </a>
  <Menu navItems={props.navItems}/>

  </div>
 </header>
